.about-gap {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.about-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.about-container > img {
  width: 50%;
  aspect-ratio: 9/11;
}

.about-container > div > h1 {
    font-size: 32px;
    max-width: fit-content;
    margin-bottom: 44px;
}

.about-text {
  max-width: 528px;
  text-align: justify;
}

section > h1 {
  font-size: 32px;
  text-align: center;
}

.partners-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 42px;
  overflow-x: auto; 
}

.management-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 42px;
}

.management-card {
  flex: 0 1 calc(30% - 20px); 
  max-width: calc(30% - 20px);
  display: flex;
  flex-direction: column;
  min-width: 300px;
  gap: 18px;
  font-size: 24px;
  text-align: center;
  margin-bottom: 72px;
}

.management-card > img {
  margin: auto;
  width: 260px;
  height: 260px;
}

/* Responsive Styles */

@media only screen and (width <= 904px) {
  .about-container {
    flex-direction: column;
    gap: 24px;
  }

  .about-container > img {
    max-height: 420px;
    min-width: 100%;
    object-fit: cover
  }
}

@media only screen and (width <= 600px) {
  .about-container > div > h1 {
    font-size: 24px;
  }

  .about-container > div > p {
    font-size: 14px;
  }

  .management-card {
    font-size: 16px;
  }

  .management-card > img {
    margin: auto;
    width: 220px;
    height: 220px;
  }
  
}